// colors
$c-base: #F1F1F1;
$c-grey: #9B9B9B;
$c-grey-2: #57585A;
$c-grey-3: #E9E9E9;
$c-white: #FFF;
$c-red: #E95371;
$c-green: #AACD03;

$c-primary: $c-red;
$c-text: $c-grey-2;

// fonts
$ff-default: 'Noto Sans TC', 'sans-serif';
