footer.footer
  .list-container
    ul.list
      li.item
        span 電子信箱 |
        a.link(href="mailto:tft@teach4taiwan.org", target="_blank", rel="noopener") tft@teach4taiwan.org
      li.item
        span 聯絡電話 |
        a.link(href="tel:+886223456225", target="_blank", rel="noopener") 02-2345-6225
    ul.list
      li.item
        span 聯絡地址 |
        a.link(href="https://www.google.com.tw/maps/place/110%E5%8F%B0%E5%8C%97%E5%B8%82%E4%BF%A1%E7%BE%A9%E5%8D%80%E5%BF%A0%E5%AD%9D%E6%9D%B1%E8%B7%AF%E5%9B%9B%E6%AE%B5512%E8%99%9F/data=!4m2!3m1!1s0x3442abb8e306ada3:0x1f3f772fd13ba2d7?sa=X&ved=0ahUKEwjjua_HyJzWAhUDo5QKHaxfB3YQ8gEIJDAA", target="_blank", rel="noopener") 110 台北市信義區忠孝東路四段512號11樓之四
