.btn {
  background: $c-primary;
  border: none;
  border-radius: 5px;
  color: $c-white;
  cursor: pointer;
  padding: .5em 2em;
  transition: .1s ease-in-out;
  &--grey {
    background: $c-grey;
  }
  &:hover{
    opacity: .7;
  }
}
