.footer {
  background: $c-grey;
  color: $c-white;
  padding: 20px 0;
  text-align: center;
  .list-container {
    display: inline-block;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    line-height: 2;
  }
  .item {
    .title {
      &:after {
        content: '|';
        padding: .3em;
      }
    }
  }
}
