.form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  @include for-phone-only {
    margin: 0 15px;
  }
  .label-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    @include for-phone-only {
      flex-direction: column;
      align-items: flex-start;
    }
    .label {
      margin: 0;
    }
  }
  .label {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 10px 0;
    @include for-phone-only {
      flex-direction: column;
    }
    .text {
      min-width: 32%;
      text-align: right;
      padding: .55rem 1rem;
      @include for-phone-only {
        text-align: left;
        padding-left: 0;
      }
    } // for vee-validate
    .control {
      flex: 1;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
    }
    .is-danger {
      border-color: $c-primary;
      transition: .1s ease-in-out;
      &.help {
        color: $c-primary;
        padding: .2em 0;
      }
    }
    .input,
    .select {
      flex: 1;
      padding: .55rem .5rem;
    }
    .input-set {
      display: flex;
      flex-wrap: wrap;
      >.select {
        flex: .5; // margin-right: 15px;
        margin-bottom: 15px;
      }
    }
    @mixin radio($color: $c-primary) {
      .radio {
        margin-right: 5px;
        background: #e6e6e6;
        width: 18px;
        height: 18px;
        position: relative;
        border: 1px solid #979797;
        background: #FFF;
        border-radius: 50%;
        position: relative;
        .input {
          opacity: 0;
        }
        &:after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          width: 0;
          height: 0;
          border-radius: 50%;
          background: $color;
          transform: translate(-50%, -50%);
          transition: .1s ease-in-out;
        }
      }
      &.is-checked {
        .radio:after {
          width: 60%;
          height: 60%;
        }
      }
      .text {
        min-width: initial;
      }
    }
    &--checkbox {
      align-items: center;
      justify-content: flex-start;
      @include radio();
      @include for-phone-only {
        flex-direction: row;
      }
      .radio-container {
        justify-content: flex-end;
        padding: .55rem 1rem;
        min-width: 32%;
        padding-right: 0;
        padding-left: 4em;
        @include for-phone-only {
          justify-content: flex-start;
          min-width: initial;
          padding: .55rem 0.5rem;
          padding-right: 0;
        }
      }
      .text {
        padding-left: 0;
        padding: .4em;
      }
    }
    &--radio {
      @include radio();
    }
  }
  .radio-container {
    display: flex;
    .label {
      align-items: center;
      padding: .55em .5em;
      @include for-phone-only {
        flex-direction: row;
      }
    }
    .text {
      padding: .4em;
    }
  }
  .btn-container {
    color: $c-white;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    flex-wrap: wrap;
    .btn {
      margin: 20px;
      @include for-phone-only {
        margin: 10px;
      }
    }
  }
}
